body {
    margin: 0;
    max-width: 100vw;
}

pre, code {
    overflow: auto;
}

#pageContainer {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: calc(100vh - 50px); /* Adjust height to accommodate the top bar */
    top: 50px; /* Add padding equal to the height of the top bar */
}

#blocklyDiv {
    flex-basis: 100%;
    height: 100%;
    min-width: 600px;
    position: relative;
    top: 50px; /* Move the workspace content down below the top bar */
}

#outputPane {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex: 0 0 400px;
    overflow: auto;
    margin: 1rem;
}

#output {
    height: 0%;
}

#generatedCode {
    position: absolute;
    top: 50px;
    height: 45%;
    width: 400px;
    background-color: #edf0f2;
}

#copyText, #MLSE {
    position: absolute;
    width: 190px;
    top: calc(45% + 75px);
    color: #ecf0f1;
    background-color: #4f4d4d;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease; /* Add a transition for opacity */
}

#MLSE {
    left: 227px;
}

#topBar {
    background-color: #333;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Align items to the start (left) of the flex container */
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.title {
    color: white;
    font-size: 24px;
}

.githubButton {
    color: white;
    font-size: 20px;
    position: absolute;
    right: 80px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    margin-left: 20px; /* Adjust spacing between dropdowns */
}

.dropbtn {
    background-color: #333;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-right: 20px; /* Add space for the arrow */
    position: relative; /* Position the arrow relative to the button */
}

.dropbtn::after {
    content: "\25BE"; /* Downward arrow character */
    font-size: 20px; /* Adjust size of the arrow */
    position: absolute; /* Position the arrow absolutely */
    right: 5px; /* Adjust distance of the arrow from the right side */
    top: 50%; /* Align the arrow vertically */
    transform: translateY(-50%); /* Center the arrow vertically */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 16px;
    width: 100%;
    text-align: left;
}

.dropdown-btn:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.blocklyTreeRow {
    padding: 3px;
    border-radius: 4px;
}

.settingsButton {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px; /* Adjust margin as needed */
}

.gear-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.gear-btn:focus {
    outline: none; /* Remove focus outline */
}

.popup {
    position: fixed;
    z-index: 999; /* Set a higher z-index value */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none; /* Hide the popup by default */
}

.popup.show {
    display: flex; /* Show the popup when it has the "show" class */
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #333; /* Match border with the top bar */
    width: 60%; /* Adjust width to match other elements */
    max-width: 400px; /* Limit maximum width */
    font-size: 16px; /* Match font size with other elements */
    border-radius: 8px; /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
}

.popup-content button {
    background-color: #333; /* Match button color with top bar */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    margin-top: 20px; /* Spacing from other elements */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Add transition effect */
}

.popup-content button:hover {
    background-color: #555; /* Darker color on hover */
} 